.comments{
	margin:30px 0;
	&__title{
       font-size: 14px;
       text-transform: uppercase;
       background: $light-blue;
       color: $light-gray;
       font-family: $font-Regular;
       height: 40px;
       text-align: center;
       h2{
       	line-height: 40px;
       }
	}
	&__item{
		border-top: 1px solid $line-gray;
		color: $light-gray;
		font-family: $font-Regular;
		&:first-child{
		   border: none;
		}
		&:nth-child(2){
           border: none;
		}
		&-text{
			position: relative;
			p{  
			  margin: 30px 22px 30px 0;
			}
			span{
				position: absolute;
				right: 5px;
				top: 4px;
				font-size: 22px;
				color: $light-gray;
			}
			.icon-cross{
				&:hover{
					cursor: pointer;
					background-image: url(../img/sprite.png);
	                background-position: 0px -60px;
	                width: 12px;
	                height: 12px;	
				}
		    }

		}
		
	}
	&__write{
		height: 60px;
		background: $light-blue;
		border: none;
	    &-left{
			float: left;
			width: 70.8%;
			display: inline-block;
		   input{
			font-family:$font-Light;
			font-size: 14px;
			padding-left: 14px;
			margin-left: 14px;
			width: 100%;
			height: 37px;
			margin-top: 13px;
			border: 1px solid $input-border;
			&:focus{
			  border: 1px solid $input-border-active;
			}
		  }
		}
	    &-right{
			float: right;
			width: 22.5%;
			margin-right: 14px;
			display: inline-block;
			button{
			cursor: pointer;
			font-family:$font-Light;
			font-size: 14px;
			background: $btn-normal;
			border: none;
			width: 100%;
			height: 37px;
			margin-top: 13px;
			color:#fff;
			text-transform: uppercase;
			&:hover{
				background: $btn-hover;
			}
			&:active{
				background: $btn-pressed;
			}
		  }
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	 .comments{
	    margin:30px auto;
	    max-width: 620px;
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
	 .comments{
	    min-width: 270px;
	    max-width: 620px;
	    margin: 30px auto;
    }
    .comments{
    	&__item-text{
    		p{
    		  margin: 20px 22px 20px 0;
    		}
    	}
    	&__write{
    		height: 107px;
    		padding: 0 14px;
    		&-left{
	        width: 100%;
	        float: none;
	          input{
                margin-left: 0;
	          }
	        }
	        &-right{
		    float: none;
		    width: 100%;
		      button{
		      	margin-top: 10px;
		      }
		   }
    	}
    }
    

}