/* font-family: "HelveticaNeue-Regular"; */
@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue-Regular.eot");
    src: url("../fonts/HelveticaNeue-Regular/HelveticaNeue-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Regular/HelveticaNeue-Regular.woff") format("woff"),
    url("../fonts/HelveticaNeue-Regular/HelveticaNeue-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeue-Bold"; */
@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
    src: url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "HelveticaNeue-Light"; */
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot");
    src: url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light/HelveticaNeue-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

