$gray:#4e4e4e;
$dark-gray:#232526;
$light-gray:#757575;
$line-gray:#c3c3c3;
$light-blue:#f0f2f3;
$btn-normal:#232526;
$btn-hover:#393c3e;
$btn-pressed:#303334;
$input-border:#c3c3c3;
$input-border-active:#232526;
$placeholder:#d3d3d3;


$font-Regular: "HelveticaNeue-Regular", Arial, sans-serif;
$font-Light: "HelveticaNeue-Light", Arial, sans-serif;
$font-Bold: "HelveticaNeue-Bold", Arial, sans-serif;